[submodule "02-global-localization/3d_bbs"]
	path = 02-global-localization/3d_bbs
	url = https://github.com/KOKIAOKI/3d_bbs.git
	ignore = dirty
[submodule "03-depth-estimation/Depth-Anything-V2"]
	path = 03-depth-estimation/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
	ignore = dirty
